<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar {
            background-color: green;
        }
       ul{
          font-size:16px;
       }

        .navbar-collapse {
            position: absolute;
            right: 200px;
        }

        img {
            position:absolute;
            padding:10px;
            left:80px;
            top:45px;
        }

        .top {
            border-style: solid;
            border-width: 35px;
            color: lightgray;
        }

        ol {
            position: absolute;
            right: 100px;
            color: green;
            font-size:16px;
            bottom:540px;
           
        }
        body{
           background-color:gainsboro;
        }
        .Title{
            border-style:solid;
            border-width:15px;
            font-size:xx-large;
            text-align:center;
           }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>
               @*
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            *@

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://musso.marshall.edu/cas/login?service=https%3A%2F%2Fmymu.marshall.edu%2Fpaf%2Fauthorize">MyMu</a></li>
                    <li><a href="http://www.marshall.edu/muonline">MuOnLine</a></li>
                    <li><a href="http://www.marshall.edu/phonebook.php">Directory</a></li>
                    <li><a href="www.marshall.edu"><i class="fi-magnifying-glass">Search</i></a></li>

                </ul>


                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="top lists">
        <a href="http://www.marshall.edu/home/index.html">
            <img src="http://www.marshall.edu/home/img/main/mu_logo_blk.png" width="150" height="80" />
        </a>

        <ol class="nav navbar-nav">
            <li><a href="http://www.marshall.edu/home/about">ABOUT MARSHALL</a></li>
            <li><a href="http://www.marshall.edu/home/futurestudents">FUTURE STUDENTS</a></li>
            <li><a href="http://www.marshall.edu/home/students">CURRENT STUDENT</a></li>
            <li><a href="http://www.herdalum.com/s/1269/start.aspx">ALUMNI</a></li>
            <li><a href="http://www.marshall.edu/home/facultystaff">FACULTY/STAFF</a></li>
        </ol>
    </div>
    <div class="Title">
        MARSHALL EXPERTIS
    </div>
    <p>

    </p>
    <div>
        <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Mu Experties", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
